replicaCount: 4

image:
  repository: prayag8tiwari/prayag-new1-pipeline
  tag: "1.0.0-7"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  nodePort: 8090  # For NodePort type access

resources:
  limits:
    memory: "256Mi"
    cpu: "500m"
  requests:
    memory: "128Mi"
    cpu: "250m"

podLabels: {}
podAnnotations: {}

containerPort: 8080

ingress:
  enabled: false
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: localhost
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
